<body class="devise-pages-body">  
  <div class="edit-profile-contain border">
    <div class="modal-header">
      <%= button_to "Back to Wingman", "/", method: :get, class: "btn btn-primary new-form-btn" %>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, :autofocus => true, class: "devise-input-field" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :password, :autocomplete => "off", placeholder: "New Password", class: "devise-input-field" %>

      <%= f.password_field :password_confirmation, placeholder: "Re-type New Password", class: "devise input-field" %>

      <%= f.password_field :current_password, placeholder: "Current Passwrord", class: "devise-input-field" %>

      <div class="modal-footer">
        <%= f.submit "Update", class: "btn btn-success new-form-btn" %>
      <% end %>

      <%= button_to "Cancel My Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger new-form-btn" %>
    </div>
  </div>
</div>
