<tr>
  <td>
  	<div class="resultName">
  		<img class="restaurant-img" src="{{logo}}"/><br />
      <h4>{{name}}</h4>
	  	{{full_address}}<br />
	  	<a target = "_blank" href="{{website}}">{{website}}</a><br />
	  	<img src="{{rating_img}}"/>
	  </div>
	  <div class="addToButton"><button type="button" data-id={{id}} class="addToItinerary btn btn-success btn-xs">Add to Itinerary</button>
	 </div>
	</td> 
</tr>