<div class="container">

<!-- Top div for search filters -->
  <div class="row">

    <!-- Activity filter -->
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" id="activity_selector" class="form-control" placeholder="What would you like to do?">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select Activity <span class="caret"></span></button>
          <ul id="select_source" class="dropdown-menu pull-right">
            <li><a href="#">Fun & Cheap</a></li>
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Concerts</a></li>
          </ul>
        </div><!-- /btn-group -->
      </div><!-- /input-group -->
    </div><!-- /.col-sm-4 -->

    <!-- Day filter -->
    <div class="dayfilter col-sm-4 col-sm-offset-1">
      <%= form_for :itinerary, url: "/funcheaps" do |f| %>
        <%= f.label "Date:" %>
        <%= f.text_field :date, value: Time.now.strftime("%m/%d/%Y") %>
        <%= f.submit "Search for Events", class: "btn btn-primary" %>
      <% end %> 
    </div><!-- /.col-sm-4 -->
    
    <div class="col-sm-2">
      <div class="itinerary">
        <a href="#" data-toggle="modal" data-target="#itineraryModal">View Itinerary</a>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="itineraryModal" tabindex="-1" role="dialog" aria-labelledby="itineraryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="itineraryModalLabel">Itinerary</h4>
            </div>
            <div class="modal-body">
              <!-- append each event/restaurant here -->
              <div id="myItinerary">
                ...
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div><!-- /Modal -->
    </div>
  
    <!-- Restaurant query filter -->
    <div class="col-sm-4">
      <%= form_for(@yelpfind) do |f| %>
        <%= f.text_field :searchterm, placeholder: "What are you craving?" %><br />
        <%= f.text_field :address, placeholder: "Street Address" %><br />
        <%= f.text_field :city, placeholder: "City" %><br />
        <%= f.text_field :state, placeholder: "State" %><br />
        <%= f.text_field :zipcode, placeholder: "5-digit Zipcode" %><br />
        <%= f.label "Search Radius: " %>
        <%= f.select :searchradius, options_for_select([["Tenth Mile", 0.1], ["Quarter Mile", 0.25], ["Half Mile", 0.5], ["1 Mile", 1], ["5 Miles", 5], ["10 Miles", 10], ["25 Miles", 25]]) %><br />
        <%= f.label "Number of Results: " %>
        <%= f.select :resultslimit, options_for_select([["5", 5], ["10", 10], ["15", 15], ["20", 20]]) %><br />
        <%= f.submit "Search for Restuarants", id: "yelpquery" %>
      <% end %> 
    </div>

  </div><!-- /.row -->

  

  <br>
  <br>

  <!-- Main div for results list and map -->
  <div class="row">
    <!-- Results div -->
    <div class="rightdiv col-sm-4">
      <h4>Search Results:</h4>
      <div class="results">
        <table class="table table-striped">
          <% @results.each do |r| %>
            <tr>
              <td><%= r.name %> <div class="addToButton"><button type="button" class="addToItinerary btn btn-default btn-xs">Add to Itinerary</button></div></td> 
            </tr>
          <% end %>
        </table>
      </div>
    </div> <!-- /Results div -->
    <!-- Map div -->
    <div class="col-sm-8">
      <div id="map-canvas"></div>
    </div> <!-- /Map div -->
  </div> <!-- /Main div for results list and map -->

</div>

<!--
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 50; padding: 50 }
      #map-canvas { height: 100% }
    </style> -->
   



   



